<h1>@ViewData["LoginTestHeader"]</h1>
<script src="jquery.js"></script>
<script src="passhide.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Felhasználónév" />
                <br/>
                <input type="password" id="password" class="form-control" placeholder="Jelszó" />
                <br/>
                <div class="wrapper">
                    <span class="group-btn">
                        <a id="loginBtn" name="loginBtn" class="btn btn-primary btn-md">Login<i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="enable-show"> Jelszó mutatása
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
